body {
  font-family: Verdana, Helvetica, sans-serif;
}

div.section {
  max-width: 90%;
  background-color: rgb(225, 225, 225);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  font-size: 1.5em;
  text-align: center;
}

a.monospace {
  display: block;
  font-family: monospace;
  white-space: pre;
  line-height: 1.5em;
}

hr {
  margin: 1em;
  border-top: 1px solid #888;
}

button {
  border: none;
  padding: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
}


#messages {
  background: rgb(200, 200, 200);
  white-space: pre;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  padding: 1em;
  text-align: left;
  font-family: monospace;
}

.https:not(img) {
  background: #4E4;
}

.http:not(img),
#messages.http {
  background: rgb(255, 82, 82);
}

img.https {
  border: 16px solid #4E4;
}

img.http {
  border: 16px solid rgb(255, 82, 82);
}